<form class="contact__form"
      action="https://formspree.io/xbjrrlar"
      method="POST">
    <fieldset class="form-group">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <label for="name">Name</label>
            </div>
            <div class="col-xs-12 col-md-8">
                <input name="name" type="text" id="name" placeholder="Your Name">
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <label for="__replyto">Email address</label>
            </div>
            <div class="col-xs-12 col-md-8">
                <input type="email" name="__replyto" id="__replyto" placeholder="Enter email">
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <label for="message">Your message</label>
            </div>
            <div class="col-xs-12 col-md-8">
                <textarea id="message" name="message" rows="5"></textarea>
            </div>
        </div>
    </fieldset>
    <input type="hidden" name="__subject" value="[Sara Hendren Project] Contact Form Submission" />
    <button type="submit" value="Send" class="primary active">Send</button>
    <!--<input type="hidden" name="__cc" value="brianrglenney@gmail.com" />-->
</form>
