<div class="row projects__list_item">
    <div class="col-xs-12 col-md-2">
        <p class="date">{{ item.date-display }}</p>
    </div>
    <div class="col-xs-12 col-md-6">
        <a class="projects__title" href="{{ item.url }}">
            <h1 class="name">{{ item.title }}</h1>
        </a>
    </div>
    <div class="col-xs-12 col-md-2">
        <p class="type">{{ item.type }}</p>
    </div>
    <div class="col-xs-12 col-md-2">
        {% for tag in item.tags %}
        <p>{{ tag }}</p>
        {% endfor %}
    </div>
</div>
