.project {
  .project__row_header {
    display: none;
    @media only screen and (min-width: $break_md) {
      display: flex;
    }
    text-transform: uppercase;
    font-weight: bold;
  }
  .project__list_item {
    border-top: 1px solid $accent;
    padding: .5rem 0 3rem;

    p {
      margin: .5rem 0;
    }
    .project__title {
      color: $primary;
      font-size: 2rem;
      text-decoration: none;
      h1 {
        margin: 0;
        font-size: 1.5rem;
        @media only screen and (min-width: $break_md) {
          font-size: 3rem;
        }
      }
    }
  }
  img {
    width: 100%;
  }
}
