---
layout: default
---

{% assign item = page %}
<main class="main project">
  <div class="container" id="project">
    <div class="spacer" role="presentation"></div>
      <div class="col-xs-12">
        <div class="row project__row_header">
          <div class="col-xs-12 col-md-2">
            <p>year</p>
          </div>
          <div class="col-xs-12 col-md-8">
            <p>project</p>
          </div>
          <!--<div class="col-xs-12 col-md-2">-->
          <!--</div>-->
          <div class="col-xs-12 col-md-2">
            <p>tagged</p>
          </div>
        </div>
      </div>
    <div class="row project__list_item">
      <div class="col-xs-12 col-md-2">
        <p class="date">{{ item.date-display }}</p>
      </div>
      <div class="col-xs-12 col-md-8 project__title">
        <h1 class="name">{{ item.title }}</h1>
      </div>
      <div class="col-xs-12 col-md-2">
        {% for tag in item.tags %}
        <p>{{ tag }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row project__content content">
      {% if item.image != 'http://placehold.it/400x300' %}
        <div class="col-xs-12 col-md-10 col-md-offset-2">
          <img src="{{ item.image }}" alt="{{ item.image-alt }}" />
        </div>
      {% endif %}
      <div class="spacer" role="presentation"></div>
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        {{ page.content | markdownify }}
        {% if item.link != 'MORE LINK' %}
        <a class="more-link" target="_blank" href="{{ item.link }}">{{ item.link-text }} →</a>
        {% endif %}
      </div>
    </div>
    {% include pagination.html %}
  </div>
</main>
