a.primary {
  background-color: $accent;
  color: black !important;
  padding: 4px;
  font-weight: bold;
  text-decoration: none !important;
}

a.filter {
  background: $accent;
  padding: .75rem 1rem;
  color: black;
  text-decoration: none !important;
}
