.fl-prefsEditor-separatedPanel {
  background-image: none !important;
}

.fluid-width-video-wrapper {
  margin-bottom: 0 !important;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide, .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
  font-size: 1rem !important;
}

.nav__link--about {
  background: url(/uploads/about-white.svg)!important;
}

.fl-prefsEditor-reset {
  background: url(/uploads/reset-white.svg)!important;
}
.fl-prefsEditor-showHide {
  background: url(/uploads/settings-white.svg)!important;
}
